@import './components/variables';
$a: 2;

html{
    body{
        margin: 0;
    }
}

html{
    &body{
        margin: 0;
    }
}

@for $i from 1 through 3{
    .col-#{$i}{
        width: (100%/12)*$i;
    }
}